.computer.only.tablet.only.row.testdriveHeaderRow 
  .ui.borderless.fixed.menu.testDriveHeader
    .ui.grid.container#myheader
        .four.wide.column
          a.item(href='/')
            img.ui.tiny.image(src='/finalLogo.svg', id='logo')
        .eight.wide.column
        .four.wide.column
          
            
.mobile.only.row
  .ui.fluid.top.fixed.two.item.menu.testDriveHeader
    a.item(href='/')
      img.ui.tiny.image(src='/finalLogo.svg', id='cell_logo')